
/**
 *
 **/
.faq_doc{
  /*width:880px;*/
  border-width: 0px; 
  border-color: rgb(204,153,0); 
  border-style: solid; 
}

.faq_doc body {
  margin: 10px 50px 10px 50px;
  /*background-color:rgb(204,153,102);*/
}
.faq_doc .entete {
  margin: 0px 0px 0px 0px;
  /*background-color:rgb(204,153,102);*/
}


.faq_doc .avertissement { 
  color: #FF0000;
  background-color:#DDDDDD;/**/
  margin:auto;
  position:float;
  /*width:750px; */
  visibility: visible;

}

faq_table{
  width:880px;
}


div.faq_foot {
  color: #FF0000;
  background-color:rgb(192,192,192);/**/
  text-align:center;
  
}
/**
 *
 **/
 /**************************************************/
.faq_Title {
    font-size:             20px;
	color:                 #393e41;
	height:                20px;
/*	border-top:         1px solid #393e41;
    margin-bottom:         5px;
    line-height:           50px; */
    background-position:   left top;
    background-repeat:     no-repeat;
	text-shadow: 0 1px 0 #eee, 
			   0 2px 0 #e9e9e9,
			   0 3px 0 #ddd,
			   0 4px 0 #d9d9d9,
			   0 5px 0 #ccc,
			   0 6px 1px rgba(0,0,0,.1),
			   0 0 5px rgba(0,0,0,.1),
			   0 1px 3px rgba(0,0,0,.3),
			   0 3px 5px rgba(0,0,0,.2),
			   0 5px 10px rgba(0,0,0,.35),
			   0 10px 10px rgba(0,0,0,.2);
}
.faq_MediumTitle { 
	font-size:             14px;
	color:                 #393e41;
	text-shadow: 0 1px 0 #eee, 
			   0 2px 0 #e9e9e9,
			   0 3px 0 #ddd,
			   0 4px 0 #d9d9d9,
			   0 5px 0 #ccc,
			   0 6px 1px rgba(0,0,0,.1),
			   0 0 5px rgba(0,0,0,.1),
			   0 1px 3px rgba(0,0,0,.3),
			   0 3px 5px rgba(0,0,0,.2),
			   0 5px 10px rgba(0,0,0,.35),
			   0 10px 10px rgba(0,0,0,.2);
}

/**
 *
 **/
td.faq_td_caption{
  width:100px;
  text-align:right;
  padding-right:5px;
  color:#4177A6;
  font-size: 9px;}

td.faq_td_data{
  width:550px;
}   

td.faq_td_title{
  font-size: 14px;
  font-weight: 900;
}
td.faq_td_answer{
  font-size: 12px;
}
td.faq_td_contents{
  font-size: 9px;
}
td.faq_td_link{
  font-size: 9px;
}


.cat_Title { 
	font-size:             18px;
	color:                 rgb(0,0,255);
	text-shadow: 0 1px 0 #eee, 
			   0 2px 0 #e9e9e9,
			   0 3px 0 #ddd,
			   0 4px 0 #d9d9d9,
			   0 5px 0 #ccc,
			   0 6px 1px rgba(0,0,0,.1),
			   0 0 5px rgba(0,0,0,.1),
			   0 1px 3px rgba(0,0,0,.3),
			   0 3px 5px rgba(0,0,0,.2),
			   0 5px 10px rgba(0,0,0,.35),
			   0 10px 10px rgba(0,0,0,.2);
}

td.cat_td_caption{
  width:100px;
  text-align:right;
  padding-right:5px;
  color:rgb(0,0,255);
  font-size: 10px;}

td.cat_td_data{
  width:550px;
}   

td.cat_td_title{
  font-size: 14px;
  font-weight: 900;
}
/**********************************************************************/





  



